#gallery-title {
    background-color: var(--color01);
}

.gallery .card .img-thumbnail {
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.gallery .card .img-thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

#gallery-modal img {
  min-width:100%;
  height: 30vw;
}
