<section class="row">
  <header class="col-md-2 d-flex align-items-center">
    <h3>{{ i18n "pdfversion" }}</h3>
  </header>
  <div class="col-md-10 d-flex align-items-center">
    <div class="item">
      <ul>
        {{ range .Params.Downloads}}
          {{ if .file }}
            <li class="btn btn-primary btn-lg" href="{{.file}}">
          {{ else }}
            <li class="btn btn-primary btn-lg disabled">
          {{ end }}
          {{.lang}}
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
