<section class="row">
  <header class="col-md-2 d-flex align-items-center">
    <h3>{{ i18n "Education" }}</h3>
  </header>
  <div class="col-md-10 d-flex align-items-center">
    <div class="row">
      {{ $len := (len .Params.Education) }}
      {{ range $idx, $elem := .Params.Education }}
      {{ if eq (add $idx 1) $len }}
        <div class="col-md-10">
      {{ else }}
        <div class="col-md-10 border-bottom">
      {{ end }}
          <h3>{{ .location }}</h3>
          <p class="sticky">{{ .date }}</p>
          <p>{{ .summary }}</p>
      </div>
        {{ end }}
  </div>
</section>
